# default reviewers
*                 @greenbone/pontos-maintainers

# dev ops
.github/          @greenbone/devops @greenbone/pontos-maintainers
.docker/          @greenbone/devops @greenbone/pontos-maintainers
