[tool.poetry]
name = "pontos"
version = "23.2.5"
description = "Common utilities and tools maintained by Greenbone Networks"
authors = ["Greenbone Networks GmbH <info@greenbone.net>"]
license = "GPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/greenbone/pontos/"
repository = "https://github.com/greenbone/pontos/"
documentation = "https://greenbone.github.io/pontos/"

classifiers=[
  # Full list: https://pypi.org/pypi?%3Aaction=list_classifiers
  "Development Status :: 4 - Beta",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",  # pylint: disable=line-too-long
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
]

packages = [
  { include = "pontos"},
  { include = "tests", format = "sdist" },
  { include = "poetry.lock", format = "sdist" },
  { include = "poetry.toml", format = "sdist" },
  { include = "scripts/", format = "sdist" },
]
include = [
  "pontos/updateheader/templates/",
  "pontos/github/pr_template.md"
]

[tool.poetry.dependencies]
python = "^3.7"
colorful = "^0.5.4"
tomlkit = ">=0.5.11"
packaging = ">=20.3"
httpx = {extras = ["http2"], version = "^0.23.0"}
rich = ">=12.4.4"
typing-extensions = { version = "^4.4.0", python = "<3.8" }
python-dateutil = "^2.8.2"

[tool.poetry.dev-dependencies]
autohooks = ">=22.7.0"
autohooks-plugin-pylint = ">=21.6.0"
autohooks-plugin-black = ">=22.7.0"
autohooks-plugin-isort = ">=22.3.0"
rope = "^1.7.0"
coverage = "^7.1"
myst-parser = "^0.18.1"
Sphinx = "^5.3.0"
furo = "^2022.12.7"

[tool.black]
line-length = 80
target-version = ['py39', 'py310', 'py311']
exclude = '''
/(
    \.git
  | \.hg
  | \.venv
  | \.circleci
  | \.github
  | \.vscode
  | _build
  | build
  | dist
  | docs
)/
'''

[tool.autohooks]
pre-commit = ['autohooks.plugins.black', 'autohooks.plugins.isort', 'autohooks.plugins.pylint']
mode = "poetry"

[tool.isort]
profile = "black"
line_length = 80

[tool.pontos.version]
version-module-file = "pontos/version/__version__.py"

[tool.poetry.scripts]
pontos = 'pontos:main'
pontos-version = 'pontos.version:main'
pontos-release = 'pontos.release:main'
pontos-update-header = 'pontos.updateheader:main'
pontos-changelog = 'pontos.changelog:main'
pontos-github = 'pontos.github:main'
pontos-github-actions = 'pontos.github.actions:main'
pontos-github-script = 'pontos.github.script:main'
pontos-nvd-cve = 'pontos.nvd.cve:cve_main'
pontos-nvd-cves = 'pontos.nvd.cve:cves_main'
pontos-nvd-cpe = 'pontos.nvd.cpe:cpe_main'
pontos-nvd-cpes = 'pontos.nvd.cpe:cpes_main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
